!!! 5
%html{:lang => "en", :manifest => "/app.manifest"}
	%head
		%meta{:charset => 'utf-8'}
		%title Site title
		%meta{ :author => 'description', :content => 'Lorem Ipsum'}
		%meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
		%link{:rel => "stylesheet", :type => "text/css", :href => "/assets/application.css"}
		%script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
		%script{:src => '/assets/application.js'}
	%body
		%header#header
			%h1 Site heading
		=yield
		%footer#footer
			%small Copyright 2011