!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => 'utf-8'}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %title minimalRB | Minimalistic Sinatra framework with Sprockets, Haml, Sass & CoffeeScript
  %meta{:content => "Minimalistic Sinatra framework with Sprockets, Haml, Sass & CoffeeScript", :name => "description"}
  %meta{:content => "Kenneth D. Nordahl", :name => "author"}/

  %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  %link{:rel => "stylesheet", :type => "text/css", :href => "/assets/application.css"}
  %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
  %script{:src => '/assets/application.js'}
%body
  %header#header
    %h1 minimalRB
  =yield
  %footer#footer
    %small Created by <a href="http://nordahl.me">Kenneth D. Nordahl</a>
  %script
    window.onload = function() {
    -# js onload
    #{ yield_content :js_onload }
    };
    -# other JS
    #{ yield_content :js_footer }
</html>